BackofficeServerLib/Service References/ServiceReference5/TransportadoraY1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getBudget">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fabAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBudgetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getBudgetResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAddress">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAddressResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fabAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idInFab" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendPackageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>